<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "
http://testng.org/testng-1.0.dtd">

<suite name="Suite de pruebas" thread-count="1" parallel="tests">

    <test name="Test post object">

        <classes>

            <class name="repositoriApi.PostObject"> </class>

        </classes>

    </test>

    <test name="Test Get single">

        <classes>

            <class name="repositoriApi.GetSingleObject"> </class>

        </classes>

    </test>

</suite>